* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
    transition: 0.3s;
     transform: translateY(-2px); 
}


.header {
    background-image: url(../media/89787.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin-bottom: 10px;
    color: #ffffff;
}

.nav a {
    margin: 0 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    
     transform: translateY(-2px); 
}
.nav a:hover {
    color: #00d9ff;
    /* cambia color */
    transform: translateY(-2px); }
    /* sube un poco */



.main {
    background-image: url(../media/3abcd1.jpg);
    background-color: #f5e61b;
    padding: 20px;
}


.section {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}


.bordered {
    border: 2px dashed #275950;
    padding: 15px;
}


.card {
    background-image: url(../media/3abcd1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0f1312;
    padding: 20px;
    flex: 1;
    min-width: 250px;
}


.highlight {
    
}

h2 {
    color: #ffffff;
    margin-bottom: 10px;
}


.p1 {
    color: aliceblue;
    background-color: #e7f5f3;
    padding: 2px;
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    color: aliceblue;
    padding: 10px;
}


.footer {
    background-color: #000000;
    color: rgb(3, 3, 3);
    text-align: center;
    padding: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .section {
        flex-direction: column;
    }
}
.nom{ 
    color: azure;
}
.val{
    color: azure;
}
li{
    color: aliceblue;
}
*{
    margin: 0;
    padding: 0;
}
main{
    background-image: url(../media/89787.jpg);
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.die{
    width: 230px;
    height: 250px;
    
    margin: 10px;
}
.t1{
    background-image: url(../media/folleto.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 170px;
    background-position: center;
}
.t2{
    background-image: url(../media/cuaderno.png)
    ;
     background-repeat: no-repeat;
    background-size: contain;
    height: 140px;
    background-position: center;
}
.t3{
    background-image: url(../media/calendario.PNG);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 240;
    height: 250px;
}
.t4{
    background-image: url(../media/botilo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 110px;
}
.t5{
    background-image: url(../media/IMG_8420.JPG);
    background-repeat: no-repeat;
    background-size: contain;
    
}
.t6{
background-image: url(../media/PHOTO-2025-10-18-09-16-21.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
h1{
    color: aliceblue;
    background-color: black;
}
h2{
    color: aliceblue;
}

.descrip{
width: 100%;
    display: none;
    flex-wrap: wrap;
    background-image: url(../media/89787.jpg);
   background-repeat: no-repeat;
   background-size: contain;
    position: absolute;
    left: 0;
    top: 0;

}
#desc_t1:target{
    display: flex;
}
#desc_t2:target{
    display: flex;
}
#desc_t3:target{
    display: flex;
}
#desc_t4:target{
    display: flex;
}
#desc_t5:target{
    display: flex;
}
#desc_t6:target{
    display: flex;
}
.nic{
    width: 600px;
    height: 600px;
    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    

}
.tx{
    width: 360px;
    background-color: rgb(46, 44, 44);
    padding-top: 400px;
    padding-left: 40px;

}
.tit{color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.sub{color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
